/*
========================= 
Variables
=========================
*/

/* dark shades of primary color*/
$clr-primary-3: hsl(43, 72%, 37%);
$clr-primary-4: hsl(42, 63%, 48%);
/* primary/main color */
$clr-primary-5: hsl(42, 78%, 60%);
/* lighter shades of primary color */
$clr-primary-10: hsl(45, 100%, 96%);
/* darkest grey - used for headings */
$clr-grey-1: hsl(209, 61%, 16%);
/* grey used for paragraphs */
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-white: #fff;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

/*
========================= 
Navbar 
=========================
*/

.nav-links {
    display: none;
    position: relative;
    margin-left: 2rem;
}

.fa-caret-up {
    display: none !important;
}

.sub-links {
    position: absolute;
    font-size: 0.8rem;
    text-align: center;
    background: $clr-white;
    top: 100%;
    padding: 0.5rem 0.5rem;
    box-shadow: $light-shadow;
    border-radius: $radius;

    li {
        padding: 0.5rem 0.3rem;
    }
}

.home-links {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.5rem);
    z-index: -1;
    transition: $transition;
}

.products-links {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.5rem);
    z-index: -1;
    transition: $transition;
}

.account-links {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.5rem);
    z-index: -1;
    transition: $transition;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $clr-white;
    z-index: 2;
    box-shadow: $light-shadow;
    height: 5rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    transition: $transition;

    h1 {
        font-size: 2rem;
        margin: auto 0;
    }
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.nav-btn {
    background: transparent;
    border-color: transparent;
    color: $clr-primary-5;
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
}

.nav-btn-bars {
    width: 1.8rem;
    height: 1.5rem;
    display: grid;
    align-content: space-between;
}

.nav-btn-bar {
    height: 0.25rem;
    border-radius: $radius;
    background: $clr-primary-5;
    /* animation: bar-slide 1s; */
}

@for $i from 1 through 3 {
    .bar-#{$i} {
        animation: bar-slide 0.5s linear $i * 0.2s normal both;
    }
}

@keyframes bar-slide {
    0% {
        background: $clr-primary-3;
        transform: translateX(150%);
        opacity: 0;
    }
    50% {
        height: 0.175rem;
    }
    100% {
        background: $clr-primary-5;
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        background: $clr-primary-10;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr;
        justify-items: center;
        justify-self: end;
        column-gap: 2rem;

        a {
            text-transform: capitalize;
            color: $clr-grey-1;
            font-weight: bold;
            letter-spacing: $spacing;
            transition: $transition;

            &:hover {
                color: $clr-primary-5;
            }
        }
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    #home-link {
        &:hover {
            .home-links {
                visibility: visible;
                opacity: 1;
                z-index: 1;
                transform: translateY(0%);
            }

            .fa-caret-up {
                display: inline !important;
            }

            .fa-caret-down {
                display: none !important;
            }
        }
    }

    #products-link {
        &:hover {
            .products-links {
                visibility: visible;
                opacity: 1;
                z-index: 1;
                transform: translateY(0%);
            }

            .fa-caret-up {
                display: inline !important;
            }

            .fa-caret-down {
                display: none !important;
            }
        }
    }

    #account-link {
        &:hover {
            .account-links {
                visibility: visible;
                opacity: 1;
                z-index: 1;
                transform: translateY(0%);
            }

            .fa-caret-up {
                display: inline !important;
            }

            .fa-caret-down {
                display: none !important;
            }
        }
    }
}

/* navbar alt color */
.navbar-alt-color {
    background: $clr-white;
}

/*
========================= 
Sidebar 
=========================
*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr-grey-10;
    z-index: 4;
    display: grid;
    place-items: center;
    transition: $transition;
    transform: translateX(-100%);
}

.show-sidebar {
    transform: translateX(0);
}

.sidebar-links {
    position: relative;
    text-align: center;
    margin-top: 4rem;

    a {
        font-size: 2rem;
        text-transform: capitalize;
        transition: $transition;
        color: $clr-grey-5;
        letter-spacing: $spacing;
        display: inline-block;
        margin-bottom: 1.5rem;

        &:hover {
            color: $clr-primary-5;
        }
    }

    .sub-links {
        visibility: visible;
        z-index: 1;
        opacity: 1;
        position: relative;
        padding: 0;
        background: none;
        box-shadow: none;
        margin-top: -0.5rem;

        a {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }
    }

    li {
        padding: 0;
    }
}

// #sidebar-home-link,
// #sidebar-products-link,
// #sidebar-account-link {
//     margin-bottom: 0.5rem;
// }

.social-icons {
    display: grid;
    margin: 3rem 0;
    width: 20rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.social-icon {
    font-size: 1.5rem;
    color: $clr-grey-1;
    transition: $transition;

    &:hover {
        color: $clr-primary-5 !important;
    }
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    background: transparent;
    border: transparent;
    transition: $transition;
    color: #bb2525;
    cursor: pointer;

    &:hover {
        color: #e66b6b;
    }
}

/*
========================= 
404 
=========================
*/

.not-found {
    height: 100vh;
}

.not-found-title {
    text-align: left;
    margin-bottom: 2rem;

    .underline {
        margin-left: 0;
    }
}

.not-found-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    gap: 3rem 2rem;
    width: 100%;

    a {
        color: $clr-primary-5;
        transition: $transition;

        &:hover {
            color: $clr-primary-4;
        }
    }
}

.not-found-info {
    margin: 0 2rem;
}

.not-found-img {
    position: relative;
    justify-self: center;
    margin: 2rem 2rem 0 2rem;
}

@media screen and (min-width: 992px) {
    .not-found-center {
        grid-template-columns: 1fr 1fr;
    }

    .not-found-img {
        position: relative;
        margin-top: 0;
    }

    .not-found-info {
        align-self: center;
        margin: 0;
    }
}

/*
========================= 
About (page)
=========================
*/

.about-page {
    height: 100vh;
}

.about-page-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    gap: 3rem 2rem;
    width: 100%;
}

.about-page-info {
    margin: 0 2rem;
}

.about-page-img {
    position: relative;
    justify-self: center;
}

@media screen and (min-width: 992px) {
    .about-page-info {
        margin: 0;
    }

    .about-page-img {
        margin-top: 0;
    }
}

/*
========================= 
EXTRA --> Cerinte Etapa 2
=========================
*/

/*
========================= 
Navbar 
=========================
*/

// .nav-links {
//     & > .home-links {
//         transform: scale(1, 0);
//         transform-origin: top;
//         transition: $transition;
//     }

//     & > .account-links {
//         transform: scale(1, 0);
//         transform-origin: top;
//         transition: $transition;
//     }
// }

// .home-text {
//     display: none;
// }

// @media screen and (min-width: 768px) {
//     .nav-links {
//         & > li {
//             // & > a {
//             //     padding: 0 0.2rem 0 0.2rem;
//             //     &:hover {
//             //         box-shadow: 2px 2px 2px $clr-primary-5 inset, -2px -2px 2px $clr-primary-5 inset;
//             //     }
//             // }
//             padding: 0 0.2rem 0 0.2rem;
//             &:hover {
//                 box-shadow: 2px 2px 2px $clr-primary-5 inset, -2px -2px 2px $clr-primary-5 inset;
//             }
//         }
//     }

//     .right-arrow {
//         display: inline-block;
//         transform: translateX(-500%);
//         transition: $transition;
//     }

//     .home-links {
//         padding-right: 1rem;
//     }

//     .account-links {
//         padding-right: 1rem;
//     }

//     #home-link {
//         &:hover {
//             .home-links {
//                 transform: scale(1);
//             }
//         }

//         li {
//             overflow: hidden;
//         }

//         & a:hover .right-arrow {
//             transform: translateX(0);
//         }
//     }

//     #account-link {
//         &:hover {
//             .account-links {
//                 transform: scale(1);
//             }
//         }

//         li {
//             overflow: hidden;
//         }

//         & a:hover .right-arrow {
//             transform: translateX(0);
//         }
//     }
// }

// @media screen and (min-width: 992px) {
//     .home-text {
//         display: inline-block;
//     }
// }

/*
========================= 
Sidebar 
=========================
*/

// .nav-btn {
//     grid-column: 1;
//     grid-row: 1;
//     justify-self: start;
// }

// .nav-logo {
//     grid-column: 2;
//     grid-row: 1;
//     justify-self: end;
// }

// .close-btn {
//     display: none;
//     top: 1rem;
//     right: unset;
//     left: 1rem;
// }

// .sidebar {
//     height: calc(100% - 80px);
//     margin-top: 80px;
//     transform: scale(0);
//     transform-origin: top left;
// }

// .show-sidebar {
//     animation: show-menu 0.5s ease-out 0s normal forwards;
//     // transform: scale(1);
// }

// .close-sidebar {
//     animation: close-menu 0.5s ease-out 0s normal forwards;
// }

// .sidebar-links {
//     a {
//         width: 100%;
//         &:hover {
//             box-shadow: 2px 2px 2px $clr-primary-5 inset, -2px -2px 2px $clr-primary-5 inset;
//         }
//     }

//     .home-links {
//         max-height: 0;
//         transform: scale(1, 0);
//         transform-origin: top;
//         transition: $transition;
//         overflow: hidden;
//     }

//     .account-links {
//         max-height: 0;
//         transform: scale(1, 0);
//         transform-origin: top;
//         transition: $transition;
//         overflow: hidden;
//     }

//     .home-link {
//         &:hover {
//             .home-links {
//                 max-height: 1000px;
//                 transition: $transition;
//                 transform: scale(1);
//             }
//         }
//     }

//     .account-link {
//         &:hover {
//             .account-links {
//                 max-height: 1000px;
//                 transition: $transition;
//                 transform: scale(1);
//             }
//         }
//     }
// }

// @keyframes bar-slide {
//     0% {
//         transform: translateX(-150%);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }

// @keyframes show-menu {
//     0% {
//         transform: scale(0);
//     }
//     100% {
//         transform: scale(1);
//     }
// }

// @keyframes close-menu {
//     0% {
//         transform: scale(1);
//     }
//     100% {
//         transform: scale(0);
//     }
// }

/*
========================= 
Gallery
=========================
*/

.gallery {
    counter-reset: gallery;
}

.product-gallery {
    margin-top: 5rem;
    counter-reset: gallery;
}

.gallery-center {
    display: grid;
    grid-template-rows: repeat(10, 280px);
    figure {
        position: relative;
        border: 4px solid $clr-primary-5;
        margin-bottom: 2rem;
        transition: all 1.2s linear;
        &:hover {
            transform: scale(25%) rotate(-10deg);
            border-width: 8px;
        }
    }
    img {
        height: 15rem;
        object-fit: cover;
    }
    .license {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        a {
            color: $clr-grey-5;
        }
    }
}

.gallery-img-caption::before {
    font-weight: bold;
    counter-increment: gallery;
    content: counter(gallery, upper-roman);
}

.gallery-img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 250, 235, 0.7), rgba(0, 0, 0, 0.7));
    color: $clr-white;
    text-align: center;
    font-size: 1.2rem;
    transition: $transition;
}

.gallery-img-caption{
    &:hover {
        color: $clr-primary-5;
        cursor: pointer;
    }
}

@media screen and (min-width: 676px) {
    .gallery-center {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 280px);
        column-gap: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .gallery-center {
        grid-template-areas: 
        "photo-0 photo-1 photo-2"
        "photo-3 empty photo-4"
        "photo-5 empty photo-6"
        "photo-7 photo-8 photo-9";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 280px);
    }
    @for $i from 0 through 9 {
        .gallery-photo-#{$i} {
            grid-area: photo-#{$i};
        }
    }
}

/*
========================= 
Duotone
=========================
*/

.duotone-title {
    display: none;
}

.duotone {
    display: none;
}

@media screen and (min-width: 992px) {
    .duotone-title {
        display: block;
    }
    .duotone {
        display: block;
        max-width: 90vw;
        position: relative;
        background: url("../../resources/images/duotone.jpg") no-repeat center;
        width: 900px;
        height: 550px;
        transition: all 2s linear;
        &::after, &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
            transition: all 2s linear;
        }
        &::after {
            background: linear-gradient(to left, blue 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: bottom left;
            mix-blend-mode: lighten;
        }
        &::before {
            background: linear-gradient(to right, red 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: bottom right;
            mix-blend-mode: darken;
        }
        &:hover {
            &::after {
                background-position: bottom right;
            }
            &::before {
                background-position: bottom left;
            }
        }
    }
}

/*
========================= 
Text Reflexion
=========================
*/

.text, .text-reflect {
    display: none;
}

@media screen and (min-width: 992px) {
    .text, .text-reflect {
        display: block;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .text {
        max-width: 90vw;
        position: relative;
        margin-bottom: 3rem;
        &:hover {
            .text-reflect {
                transform: rotateX(180deg) skew(-45deg) scaleY(0.7) translate(10px,-25px) translateX(-50%);
            }
        }
    }
    
    .text-reflect {
        position: absolute;
        left: 50%;
        top: 100%;
        transform-origin: 0 0;
        transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-20px) translateX(-50%);
        opacity: 0.5;
        filter: blur(1px);
        transition: $transition;
    }
}

/*
========================= 
Column Text
=========================
*/

.column-text {
    text-align: justify;
}

@media screen and (min-width: 992px) {
    .column-text {
        padding: 0.5rem;
        column-count: 3;
        column-rule: inset 2px $clr-primary-5;
    }
}

/*
========================= 
Text Selection
=========================
*/

::selection {
    background: $clr-primary-5;
    color: $clr-grey-10;
}

/*
========================= 
Horizontal Animation
=========================
*/

.horizontal-animation-container {
    width: 300px;
    position: relative;
    animation: horizontal-animation 8s infinite;
}

@keyframes horizontal-animation {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: calc(100% - 300px);
    }
}

/*
========================= 
Background Fixed
=========================
*/

.background-fixed {
    width: 100%;
    height: 600px;
    background: url("../../resources/images/background-fixed.jpg") no-repeat fixed center;
    animation: change-background 1s linear 5s 1 forwards;
}

@keyframes change-background {
    0% {
        background: url("../../resources/images/background-fixed.jpg") no-repeat fixed center;
    }
    100% {
        background: url("../../resources/images/background-fixed-alt.jpg") no-repeat fixed center;
    }
}

/*
========================= 
Responsive Table
=========================
*/

.responsive-table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    text-transform: capitalize;
    thead {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    th {
        padding: 0.625em;
        text-align: center;
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    tr {
        background-color: $clr-grey-10;
        border: 1px solid $clr-primary-5;
        padding: 0.35em;
        display: block;
        &:not(:last-child) {
            border-bottom: 3px dashed $clr-primary-4;
        }
        &:not(:first-child) {
            border-top: 0;
        }
    }
    td {
        padding: 0.625em;
        border-bottom: 1px solid $clr-primary-5;
        display: block;
        font-size: 0.8em;
        text-align: left;
        &::before {
            content: attr(label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            background: $clr-primary-5;
            width: 150px;
            text-align: left;
            margin-right: 1rem;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

@media screen and (min-width: 992px) {
    .responsive-table {
        border-spacing: 0;
        border-collapse: separate;
        box-sizing: border-box;
        border: 1px solid $clr-primary-5;
        padding: 1rem;
        thead {
            position: relative;
        }
        th {
            padding: 1rem;
            border: 1px solid $clr-primary-5;
        }
        tr {
            padding: 1rem;
            border: 1px solid $clr-primary-5;
            display: revert;
        }
        td {
            display: revert;
            font-size: unset;
            text-align: center;
            padding: 1rem;
            border: 1px solid $clr-primary-5;
            border-top: 0;
            &::before {
                content: none;
                float: none;
                font-weight: unset;
            }
            &:last-child {
                border-bottom: 1px solid $clr-primary-5;
            }
        }
    }
}

/*
========================= 
Transpose Table
=========================
*/

.transpose-table {
    border-collapse: separate;
    box-sizing: border-box;
    text-transform: capitalize;
    table-layout: fixed;
    width: 300px;
    font-size: 0.5rem;
    transition: $transition;
    thead, tbody, tr {
        display: block;
        float: left;
    }
    th, td {
        display: block;
        border: 1px solid $clr-primary-5;
        padding: 0.5rem;
        &:not(:first-child) {
            border-top: 0;
        }
    }
}

@media screen and (min-width: 400px) {
    .transpose-table {
        width: 350px;
        font-size: 0.6rem;
    }
}


@media screen and (min-width: 500px) {
    .transpose-table {
        width: 400px;
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 600px) {
    .transpose-table {
        width: 450px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 676px) {
    .transpose-table {
        width: 500px;
        font-size: 0.9rem;
    }
}
