.animated-gallery {
  display: none;
}

@media screen and (min-width: 992px) {
  .animated-gallery {
    display: block;
  }
  .animated-gallery-container {
    margin: 0 auto;
    width: 800px;
    max-height: calc(500px + 1.2rem);
    border: 10px solid transparent;
    border-image: url("../resources/images/border-image.jpg") 50 round;
    overflow: hidden;
  }
  .animated-gallery-center {
    display: grid;
    grid-template-columns: repeat(3, 800px);
    grid-template-rows: repeat(3, 500px);
    position: relative;
    transform-origin: top left;
    animation-name: gallery-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-duration: 27s;
    animation-direction: alternate;
  }
  .animated-gallery-center:hover {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(1) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(2) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(3) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(4) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(5) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(6) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(7) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(8) {
    animation-play-state: paused;
  }
  .animated-gallery-center:hover figure:nth-of-type(9) {
    animation-play-state: paused;
  }
  .animated-gallery-center figure {
    position: relative;
  }
  .animated-gallery-center img {
    height: 500px;
    object-fit: cover;
  }
  .animated-gallery-img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(hsl(42deg, 78%, 60%), rgba(0, 0, 0, 0.7));
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
  @keyframes gallery-animation {
    0% {
      transform: scale(1);
    }
    6.25% {
      transform: scale(0.33333);
    }
    12.5% {
      transform: scale(1) translateX(calc(-800px * 2));
    }
    18.75% {
      transform: scale(0.33333);
    }
    25% {
      transform: scale(1) translateX(-800px);
    }
    31.25% {
      transform: scale(0.33333);
    }
    37.5% {
      transform: scale(1) translate(-800px, -500px);
    }
    43.75% {
      transform: scale(0.33333);
    }
    50% {
      transform: scale(1) translate(calc(-800px * 2), -500px);
    }
    56.25% {
      transform: scale(0.33333);
    }
    62.5% {
      transform: scale(1) translate(calc(-800px * 2), calc(-500px * 2));
    }
    68.75% {
      transform: scale(0.33333);
    }
    75% {
      transform: scale(1) translateY(-500px);
    }
    81.25% {
      transform: scale(0.33333);
    }
    87.5% {
      transform: scale(1) translate(-800px, calc(-500px * 2));
    }
    93.75% {
      transform: scale(0.33333);
    }
    100% {
      transform: scale(1) translateY(calc(-500px * 2));
    }
  }
}