@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

/*
========================= 
Navbar
=========================
*/

#nav-btn {
  display: none;
}

#close-btn {
  display: none;
}

.fa-caret-down {
  display: none !important;
}

.fa-caret-up {
  display: none !important;
}

.sub-links {
  display: none;
}

.nav-logo {
  text-align: center;
}

/*
========================= 
Sidebar
=========================
*/

#sidebar {
  display: none;
}

/*
========================= 
Search
=========================
*/

#search {
  width: 70vw;
  margin: 7cm auto 0 auto;
  border: 4px #000 solid;
  page-break-after: always;
}

.search-bar {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.search-form > div {
  margin-bottom: 0.5rem;
}

/*
========================= 
Products
=========================
*/

#products {
  display: none;
}

/*
========================= 
Top Makes
=========================
*/

#top-makes {
  page-break-inside: avoid;
}

/*
========================= 
Events
=========================
*/

#events {
  page-break-inside: avoid;
}

/*
========================= 
Online Users
=========================
*/

#online-users {
  page-break-inside: avoid;
}

/*
========================= 
Statistics
=========================
*/

#statistics {
  page-break-inside: avoid;
}

/*
========================= 
Server Info
=========================
*/

#server-info {
  page-break-inside: avoid;
}

/*
========================= 
General styles
=========================
*/

.btn {
  font-family: "Mouse Memoirs", "sans-serif";
}

#backToTopBtn {
  display: none;
}

figure {
  display: none;
}

iframe {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

video {
  display: none;
}

/* nav {
    page-break-after: always;
} */

footer {
  page-break-before: always;
}

section {
  margin-top: 1cm;
}

body {
  font-family: "Mouse Memoirs", "sans-serif";
  position: relative;
  height: 100%;
}

/*
========================= 
Watermark
=========================
*/

body:before {
  content: "Victor \A David";
  white-space: pre-wrap;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: -1;
  width: 4cm;
  height: 1cm;
  border: 3px solid #000;
  border-radius: 0.5rem;
  text-align: center;
  opacity: 0.4;
}

/*
========================= 
Page Margin
=========================
*/

@page :left {
  margin-left: 3cm;
  margin-right: 1cm;
}

@page :right {
  margin-left: 1cm;
  margin-right: 3cm;
}
