/*
========================= 
Variables
=========================
*/
/* dark shades of primary color*/
/*
========================= 
Navbar 
=========================
*/
.nav-links {
  display: none;
  position: relative;
  margin-left: 2rem;
}

.fa-caret-up {
  display: none !important;
}

.sub-links {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  background: var(--clr-white);
  top: 100%;
  padding: 0.5rem 0.5rem;
  box-shadow: var(--light-shadow);
  border-radius: 0.5rem;
}
.sub-links li {
  padding: 0.5rem 0.3rem;
}

.home-links {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
  z-index: -1;
  transition: all 0.3s linear;
}

.products-links {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
  z-index: -1;
  transition: all 0.3s linear;
}

.account-links {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
  z-index: -1;
  transition: all 0.3s linear;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 100;
  box-shadow: var(--light-shadow);
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: all 0.3s linear;
}
.nav h1 {
  font-size: 2rem;
  margin: auto 0;
}
.nav .switch-container {
  display: none;
  position: absolute;
  top: 6rem;
  left: 2rem;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

.nav-btn-bars {
  width: 1.8rem;
  height: 1.5rem;
  display: grid;
  align-content: space-between;
}

.nav-btn-bar {
  height: 0.25rem;
  border-radius: 0.5rem;
  background: var(--clr-primary-5);
  /* animation: bar-slide 1s; */
}

.bar-1 {
  animation: bar-slide 0.5s linear 0.2s normal both;
}

.bar-2 {
  animation: bar-slide 0.5s linear 0.4s normal both;
}

.bar-3 {
  animation: bar-slide 0.5s linear 0.6s normal both;
}

@keyframes bar-slide {
  0% {
    background: var(--clr-primary-3);
    transform: translateX(150%);
    opacity: 0;
  }
  50% {
    height: 0.175rem;
  }
  100% {
    background: var(--clr-primary-5);
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav .switch-container {
    display: block;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    justify-items: center;
    justify-self: end;
    column-gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: 0.25rem;
    transition: all 0.3s linear;
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  #home-link:hover .home-links {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }
  #home-link:hover .fa-caret-up {
    display: inline !important;
  }
  #home-link:hover .fa-caret-down {
    display: none !important;
  }
  #products-link:hover .products-links {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }
  #products-link:hover .fa-caret-up {
    display: inline !important;
  }
  #products-link:hover .fa-caret-down {
    display: none !important;
  }
  #account-link:hover .account-links {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }
  #account-link:hover .fa-caret-up {
    display: inline !important;
  }
  #account-link:hover .fa-caret-down {
    display: none !important;
  }
}
/* navbar alt color */
.navbar-alt-color {
  background: var(--clr-white);
}

/*
========================= 
Sidebar 
=========================
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 1000;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
.sidebar .switch-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.sidebar #link-container {
  margin-top: 40%;
}
.sidebar .sidebar-social-icons {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  width: unset;
  margin: 0;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-sub-links {
  display: none;
  text-align: left;
  margin-left: 2rem;
  transform-origin: top;
}

.sidebar-links {
  text-align: left;
  margin-left: 2rem;
}
.sidebar-links a {
  font-size: 1.8rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
  color: var(--clr-grey-5);
  letter-spacing: 0.25rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links .sub-links {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  position: relative;
  padding: 0;
  background: none;
  box-shadow: none;
  margin-top: -0.5rem;
}
.sidebar-links .sub-links a {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.sidebar-links li {
  padding: 0;
}

.social-icons {
  display: grid;
  margin: 3rem 0;
  width: 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: all 0.3s linear;
}
.social-icon:hover {
  color: var(--clr-primary-5) !important;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: all 0.3s linear;
  color: #bb2525;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}

/*
========================= 
404 
=========================
*/
.not-found {
  height: 100vh;
}

.not-found-title {
  text-align: left;
  margin-bottom: 2rem;
}
.not-found-title .underline {
  margin-left: 0;
}

.not-found-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  gap: 3rem 2rem;
  width: 100%;
}
.not-found-center a {
  color: var(--clr-primary-5);
  transition: all 0.3s linear;
}
.not-found-center a:hover {
  color: var(--clr-primary-4);
}

.not-found-info {
  margin: 0 2rem;
}

.not-found-img {
  position: relative;
  justify-self: center;
  margin: 2rem 2rem 0 2rem;
}

@media screen and (min-width: 992px) {
  .not-found-center {
    grid-template-columns: 1fr 1fr;
  }
  .not-found-img {
    position: relative;
    margin-top: 0;
  }
  .not-found-info {
    align-self: center;
    margin: 0;
  }
}
/*
========================= 
About (page)
=========================
*/
.about-page {
  height: 100vh;
}

.about-page-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  gap: 3rem 2rem;
  width: 100%;
}

.about-page-info {
  margin: 0 2rem;
}

.about-page-img {
  position: relative;
  justify-self: center;
}

@media screen and (min-width: 992px) {
  .about-page-info {
    margin: 0;
  }
  .about-page-img {
    margin-top: 0;
  }
}
/*
========================= 
EXTRA --> Cerinte Etapa 2
=========================
*/
/*
========================= 
Navbar 
=========================
*/
/*
========================= 
Sidebar 
=========================
*/
/*
========================= 
Gallery
=========================
*/
.gallery {
  counter-reset: gallery;
}

.product-gallery {
  margin-top: 5rem;
  counter-reset: gallery;
}

.gallery-center {
  display: grid;
  grid-template-rows: repeat(10, 280px);
}
.gallery-center figure {
  position: relative;
  border: 4px solid var(--clr-primary-5);
  margin-bottom: 2rem;
  transition: all 1.2s linear;
}
.gallery-center figure:hover {
  transform: scale(25%) rotate(-10deg);
  border-width: 8px;
}
.gallery-center img {
  height: 15rem;
  object-fit: cover;
}
.gallery-center .license {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.gallery-center .license a {
  color: var(--clr-grey-5);
}

.gallery-img-caption::before {
  font-weight: bold;
  counter-increment: gallery;
  content: counter(gallery, upper-roman);
}

.gallery-img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 250, 235, 0.7), rgba(0, 0, 0, 0.7));
  color: var(--clr-white);
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}

.gallery-img-caption:hover {
  color: var(--clr-primary-5);
  cursor: pointer;
}

@media screen and (min-width: 676px) {
  .gallery-center {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 280px);
    column-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .gallery-center {
    grid-template-areas: "photo-0 photo-1 photo-2" "photo-3 empty photo-4" "photo-5 empty photo-6" "photo-7 photo-8 photo-9";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 280px);
  }
  .gallery-photo-0 {
    grid-area: photo-0;
  }
  .gallery-photo-1 {
    grid-area: photo-1;
  }
  .gallery-photo-2 {
    grid-area: photo-2;
  }
  .gallery-photo-3 {
    grid-area: photo-3;
  }
  .gallery-photo-4 {
    grid-area: photo-4;
  }
  .gallery-photo-5 {
    grid-area: photo-5;
  }
  .gallery-photo-6 {
    grid-area: photo-6;
  }
  .gallery-photo-7 {
    grid-area: photo-7;
  }
  .gallery-photo-8 {
    grid-area: photo-8;
  }
  .gallery-photo-9 {
    grid-area: photo-9;
  }
}
/*
========================= 
Duotone
=========================
*/
.duotone-title {
  display: none;
}

.duotone {
  display: none;
}

@media screen and (min-width: 992px) {
  .duotone-title {
    display: block;
  }
  .duotone {
    display: block;
    max-width: 90vw;
    position: relative;
    background: url("../../resources/images/duotone.jpg") no-repeat center;
    width: 900px;
    height: 550px;
    transition: all 2s linear;
  }
  .duotone::after, .duotone::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: all 2s linear;
  }
  .duotone::after {
    background: linear-gradient(to left, blue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom left;
    mix-blend-mode: lighten;
  }
  .duotone::before {
    background: linear-gradient(to right, red 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    mix-blend-mode: darken;
  }
  .duotone:hover::after {
    background-position: bottom right;
  }
  .duotone:hover::before {
    background-position: bottom left;
  }
}
/*
========================= 
Text Reflexion
=========================
*/
.text,
.text-reflect {
  display: none;
}

@media screen and (min-width: 992px) {
  .text,
.text-reflect {
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  .text {
    max-width: 90vw;
    position: relative;
    margin-bottom: 3rem;
  }
  .text:hover .text-reflect {
    transform: rotateX(180deg) skew(-45deg) scaleY(0.7) translate(10px, -25px) translateX(-50%);
  }
  .text-reflect {
    position: absolute;
    left: 50%;
    top: 100%;
    transform-origin: 0 0;
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -20px) translateX(-50%);
    opacity: 0.5;
    filter: blur(1px);
    transition: all 0.3s linear;
  }
}
/*
========================= 
Column Text
=========================
*/
.column-text {
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .column-text {
    padding: 0.5rem;
    column-count: 3;
    column-rule: inset 2px var(--clr-primary-5);
  }
}
/*
========================= 
Text Selection
=========================
*/
::selection {
  background: var(--clr-primary-5);
  color: var(--clr-grey-10);
}

/*
========================= 
Horizontal Animation
=========================
*/
.horizontal-animation-container {
  width: 300px;
  position: relative;
  animation: horizontal-animation 8s infinite;
}

@keyframes horizontal-animation {
  0%, 100% {
    margin-left: 0;
  }
  50% {
    margin-left: calc(100% - 300px);
  }
}
/*
========================= 
Background Fixed
=========================
*/
.background-fixed {
  width: 100%;
  height: 600px;
  background: url("../../resources/images/background-fixed.jpg") no-repeat fixed center;
  animation: change-background 1s linear 5s 1 forwards;
}

@keyframes change-background {
  0% {
    background: url("../../resources/images/background-fixed.jpg") no-repeat fixed center;
  }
  100% {
    background: url("../../resources/images/background-fixed-alt.jpg") no-repeat fixed center;
  }
}
/*
========================= 
Responsive Table
=========================
*/
.responsive-table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  text-transform: capitalize;
}
.responsive-table thead {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.responsive-table th {
  padding: 0.625em;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.responsive-table tr {
  background-color: var(--clr-grey-10);
  border: 1px solid var(--clr-primary-5);
  padding: 0.35em;
  display: block;
}
.responsive-table tr:not(:last-child) {
  border-bottom: 3px dashed var(--clr-primary-4);
}
.responsive-table tr:not(:first-child) {
  border-top: 0;
}
.responsive-table td {
  padding: 0.625em;
  border-bottom: 1px solid var(--clr-primary-5);
  display: block;
  font-size: 0.8em;
  text-align: left;
}
.responsive-table td::before {
  content: attr(label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--clr-primary-5);
  width: 150px;
  text-align: left;
  margin-right: 1rem;
}
.responsive-table td:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 992px) {
  .responsive-table {
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    border: 1px solid var(--clr-primary-5);
    padding: 1rem;
  }
  .responsive-table thead {
    position: relative;
  }
  .responsive-table th {
    padding: 1rem;
    border: 1px solid var(--clr-primary-5);
  }
  .responsive-table tr {
    padding: 1rem;
    border: 1px solid var(--clr-primary-5);
    display: revert;
  }
  .responsive-table td {
    display: revert;
    font-size: unset;
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--clr-primary-5);
    border-top: 0;
  }
  .responsive-table td::before {
    content: none;
    float: none;
    font-weight: unset;
  }
  .responsive-table td:last-child {
    border-bottom: 1px solid var(--clr-primary-5);
  }
}
/*
========================= 
Transpose Table
=========================
*/
.transpose-table {
  border-collapse: separate;
  box-sizing: border-box;
  text-transform: capitalize;
  table-layout: fixed;
  width: 300px;
  font-size: 0.5rem;
  transition: all 0.3s linear;
}
.transpose-table thead,
.transpose-table tbody,
.transpose-table tr {
  display: block;
  float: left;
}
.transpose-table th,
.transpose-table td {
  display: block;
  border: 1px solid var(--clr-primary-5);
  padding: 0.5rem;
}
.transpose-table th:not(:first-child),
.transpose-table td:not(:first-child) {
  border-top: 0;
}

@media screen and (min-width: 400px) {
  .transpose-table {
    width: 350px;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 500px) {
  .transpose-table {
    width: 400px;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 600px) {
  .transpose-table {
    width: 450px;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 676px) {
  .transpose-table {
    width: 500px;
    font-size: 0.9rem;
  }
}
/*
========================= 
Zig Zag
=========================
*/
.zigzag {
  border: none;
  height: 1rem;
  background: linear-gradient(90deg, var(--clr-primary-5) 50%, transparent 0) top, linear-gradient(90deg, transparent 50%, var(--clr-primary-5) 0) bottom;
  background-size: 10px 66.6666666667%;
  background-repeat: repeat-x;
}

/*
========================= 
Background Video
=========================
*/
#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.video-text {
  position: relative;
  height: 100vh;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-text h3 {
  color: var(--clr-white);
  font-size: 4rem;
}

.video-description {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: relative;
  padding: 1rem 3rem;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
}

/*
========================= 
Products Page
=========================
*/
.products-page-title {
  margin-top: 2rem;
}

.filter-section {
  position: relative;
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
}
.filter-section .filter-title {
  text-align: center;
}
.filter-section select {
  margin-bottom: 1rem;
}
.filter-section label {
  display: block;
  margin-bottom: 0.2rem;
}
.filter-section input {
  margin-top: 0;
  margin-bottom: 1rem;
  display: unset;
}
.filter-section .mileage-filter {
  position: relative;
}
.filter-section .mileage-filter #mileage-min-value {
  margin-right: 0.5rem;
}
.filter-section .mileage-filter #mileage-max-value {
  margin-left: 0.5rem;
  position: absolute;
  top: 20%;
  right: 0;
}
.filter-section .mileage-filter #selected-mileage-value {
  display: block;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.filter-section .fuel-type-filter input,
.filter-section .name-filter input {
  border: 2px solid var(--clr-grey-8);
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem;
  width: 100%;
}
.filter-section .body-type-filter .radio-group-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
}
.filter-section .body-type-filter .no-body-type {
  margin-bottom: 1rem;
}
.filter-section .body-type-filter label {
  display: inline-block;
  margin-bottom: 0.2rem;
}
.filter-section .body-type-filter input {
  margin-bottom: 0;
}
.filter-section .description-filter {
  margin-bottom: 1rem;
}
.filter-section .description-filter textarea {
  resize: none;
  border: 2px solid var(--clr-grey-8);
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.filter-section .second-hand-filter {
  width: 25%;
  margin-bottom: 1rem;
}
.filter-section .second-hand-filter span {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.filter-section .second-hand-filter label {
  padding-left: 0;
  padding-right: 0;
}
.filter-section .filter-buttons .reset-btn {
  background: unset !important;
  border-color: var(--clr-white) !important;
}
.filter-section .filter-buttons .reset-btn:hover {
  border-color: var(--clr-primary-7) !important;
}
.filter-section .filter-buttons .filter-btn {
  width: 100%;
  margin-bottom: 1rem;
}
.filter-section .filter-buttons .fa-solid,
.filter-section .filter-buttons .bi {
  margin-left: 0.2rem;
}
.filter-section .filter-buttons .bi {
  font-size: 1rem;
}

.sort-buttons-container {
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.sort-buttons-container span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.sort-buttons-container .reset-btn {
  background: unset !important;
  border-color: var(--clr-white) !important;
}
.sort-buttons-container .reset-btn:hover {
  border-color: var(--clr-primary-7) !important;
}
.sort-buttons-container .filter-btn {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.sort-buttons-container .fa-solid,
.sort-buttons-container .bi {
  margin-left: 0.2rem;
}
.sort-buttons-container .bi {
  font-size: 1rem;
}
.sort-buttons-container .sort-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

.products-page-center {
  display: grid;
}

.no-results {
  display: none;
  text-align: center;
  font-size: 2rem;
}

.products-page-card {
  position: relative;
  margin-bottom: 4rem;
}
.products-page-card:hover .products-page-card-heading {
  color: var(--clr-primary-5);
}
.products-page-card .fa-solid {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.3rem;
}
.products-page-card .products-page-card-heading {
  position: absolute;
  cursor: pointer;
  color: var(--clr-grey-1);
  font-size: 1.5rem;
  top: -2rem;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.3s linear;
}
.products-page-card .products-page-card-info {
  color: var(--clr-grey-1);
  margin: 0 0.8rem;
}
.products-page-card .products-page-card-info .products-page-card-primary-info-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.products-page-card .products-page-card-info .products-page-card-primary-info-container .products-page-card-category {
  text-transform: capitalize;
}
.products-page-card .products-page-card-info .products-page-card-description {
  margin: 1rem 0;
  text-align: justify;
}
.products-page-card .products-page-card-footer {
  margin: 0 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--clr-grey-1);
}
.products-page-card .products-page-card-footer .products-page-card-fuel-type,
.products-page-card .products-page-card-footer .products-page-card-created-at {
  text-transform: capitalize;
}

.button-text {
  display: none !important;
}

.form-floating > .form-control:focus {
  background: var(--clr-white);
  color: var(--clr-grey-5);
}

@media screen and (min-width: 676px) {
  .filter-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "make model fuel-type" "name mileage body-type" "price description second-hand";
    column-gap: 1rem;
  }
  .filter-container .make-filter {
    grid-area: make;
  }
  .filter-container .model-filter {
    grid-area: model;
  }
  .filter-container .fuel-type-filter {
    grid-area: fuel-type;
  }
  .filter-container .name-filter {
    grid-area: name;
  }
  .filter-container .mileage-filter {
    grid-area: mileage;
  }
  .filter-container .second-hand-filter {
    grid-area: second-hand;
  }
  .filter-container .price-filter {
    height: 100%;
    grid-area: price;
  }
  .filter-container .description-filter {
    grid-area: description;
    margin-top: 1.75rem;
  }
  .filter-container .body-type-filter {
    grid-area: body-type;
  }
  .filter-container .body-type-filter .radio-group-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-buttons,
.sort-buttons,
.calc-button {
    width: 75%;
    margin: 0 auto;
  }
  .sort-buttons-container span {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .products-page-card .products-page-card-heading {
    text-align: left;
    left: 1rem;
  }
  .products-page-card a {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .products-page-card a .products-page-card-img-container {
    grid-column: 2;
    grid-row: 1;
  }
  .products-page-card a .product-img {
    height: 350px;
    border-top-left-radius: unset;
    border-bottom-right-radius: 0.5rem;
  }
  .products-page-card a .products-page-card-content {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-auto-rows: auto;
  }
  .products-page-card a .products-page-card-content .products-page-card-info {
    margin-top: 1rem;
  }
  .products-page-card a .products-page-card-content .products-page-card-footer {
    place-self: start;
  }
  .button-text {
    display: inline !important;
  }
}
@media screen and (min-width: 992px) {
  .filter-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .sort-buttons {
    display: block;
  }
  .sort-buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*
========================= 
Product Page
=========================
*/
.product-page-title {
  width: 90vw;
  margin: 3rem auto 0 auto;
  max-width: 1170px;
}
.product-page-title h1 {
  font-size: 1.5rem;
}

.product-page-center {
  text-transform: capitalize;
}
.product-page-center .fa-solid {
  margin-right: 0.5rem;
}
.product-page-center .product-img-container {
  margin-bottom: 1rem;
}
.product-page-center .product-img-container .product-img {
  border-radius: 0.5rem;
  height: 20rem;
}
.product-page-center .product-img-container .fa-heart {
  cursor: pointer;
}
.product-page-center .product-page-info-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.product-page-center .product-page-price {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.3rem;
}
.product-page-center .product-page-info {
  margin-bottom: 1.25rem;
}
.product-page-center .product-page-info li {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid var(--clr-grey-1);
  font-size: 1rem;
  padding: 0.3rem;
}
.product-page-center .product-page-description {
  text-align: justify;
  text-transform: none;
}
.product-page-center .product-page-description .product-page-description-title {
  text-transform: capitalize;
}

.accordion-button {
  text-transform: capitalize;
}

.accordion-body {
  text-transform: none;
}

@media screen and (min-width: 676px) {
  .product-page-center .product-img-container .product-img {
    height: 25rem;
  }
}
@media screen and (min-width: 992px) {
  .product-page-center {
    width: 50vw;
    margin: 0 auto;
  }
  .product-page-center .product-img-container .product-img {
    height: 30rem;
  }
}