/*
========================= 
Fonts
========================= 
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
========================= 
Variables
=========================
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gradient: rgba(255, 250, 235, 0.7);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
========================= 
Global Styles 
=========================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

.dark-theme {
  --clr-white: hsl(209, 61%, 16%);
  --clr-grey-1: hsl(210, 22%, 49%);
  --clr-grey-5: hsl(209, 23%, 60%);
  --clr-grey-10: hsl(209, 61%, 16%);
  --clr-primary-1: hsl(42, 63%, 55%);
  --clr-primary-5: hsl(43, 72%, 37%);
  --clr-primary-10: hsl(43, 86%, 11%);
  --clr-gradient: hsl(43, 86%, 13%);
}

.dark-theme select,
.dark-theme input,
.dark-theme textarea {
  background: hsl(209, 28%, 39%);
  border-color: hsl(209, 28%, 39%) !important;
}

.dark-theme ::placeholder {
  color: #000;
}

::placeholder {
  font-size: 0.8rem;
}

select,
input {
  font-family: var(--ff-secondary);
  display: block;
}

select {
  border: 2px solid var(--clr-grey-8);
  border-radius: var(--radius);
  padding: 0.5rem 0.2rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  width: 100%;
}

input {
  margin-top: 2rem;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

label {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3 {
    line-height: 1;
  }
}

/* global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
  border-color: var(--clr-primary-7);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

.uppercase {
  text-transform: uppercase;
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
}

iframe {
  border: none;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--clr-grey-1);
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: var(--transition);
}

details[open] > summary:before {
  transform: rotate(90deg);
}

#backToTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  border: none;
  outline: none;
  background: var(--clr-primary-5);
  color: var(--clr-grey-1);
  cursor: pointer;
  padding: 0.7rem;
  border-radius: var(--radius);
  font-size: 1rem;
  opacity: 0;
  transition: var(--transition);
}

.fa-arrow-up {
  transition: var(--transition);
}

#backToTopBtn:hover .fa-arrow-up {
  transform: translateY(-25%);
}

.word-break {
  display: none;
}

.hide-element {
  opacity: 0 !important;
}

.remove-element {
  display: none !important;
}

.show-element {
  display: block !important;
}

/* Bootstrap fixes */
ol,
ul,
dl {
  margin-top: unset;
  margin-bottom: unset;
  padding-left: unset;
}

figure {
  margin-bottom: 0;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-grey-9);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-white);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--clr-primary-5);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-primary-5);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-icon {
  display: inline-block;
  font-size: 1.5rem;
}

.sun-icon {
  transform: translate(-0.6rem, -0.5rem);
}

.moon-icon {
  transform: translate(0.6rem, -0.5rem);
}

/*
========================= 
Navbar 
=========================
*/

/* .nav-links {
  display: none;
  position: relative;
  margin-left: 2rem;
}

.fa-caret-up {
  display: none !important;
}

.sub-links {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  background: var(--clr-white);
  top: 100%;
  padding: 0.5rem 0.5rem;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

.home-links {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
  z-index: -1;
  transition: var(--transition);
}

.account-links {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
  z-index: -1;
  transition: var(--transition);
}

.sub-links li {
  padding: 0.5rem 0.3rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 2;
  box-shadow: var(--light-shadow);
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
}

.nav h1 {
  font-size: 2rem;
  margin: auto 0;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

.nav-btn-bars {
  width: 1.8rem;
  height: 1.5rem;
  display: grid;
  align-content: space-between;
}

.nav-btn-bar {
  height: 0.25rem;
  border-radius: var(--radius);
  background: var(--clr-primary-5);
}

.bar-1 {
  animation: bar-slide 0.5s linear 0s normal both;
}

.bar-2 {
  animation: bar-slide 0.5s linear 0.2s normal both;
}

.bar-3 {
  animation: bar-slide 0.5s linear 0.4s normal both;
} */

/* @keyframes bar-slide {
  0% {
    background: var(--clr-primary-3);
    transform: translateX(150%);
    opacity: 0;
  }
  50% {
    height: 0.175rem;
  }
  100% {
    background: var(--clr-primary-5);
    transform: translateX(0);
    opacity: 1;
  }
} */

/* @media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 2rem;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  #home-link:hover .home-links {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }

  #home-link:hover .fa-caret-up {
    display: inline !important;
  }

  #home-link:hover .fa-caret-down {
    display: none !important;
  }

  #account-link:hover .account-links {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  }

  #account-link:hover .fa-caret-up {
    display: inline !important;
  }

  #account-link:hover .fa-caret-down {
    display: none !important;
  }
} */

/* navbar alt color */
/* .navbar-alt-color {
  background: var(--clr-white);
} */

/*
========================= 
Sidebar 
=========================
*/

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  position: relative;
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.sidebar-links .sub-links {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  position: relative;
  padding: 0;
  background: none;
  box-shadow: none;
}

.sidebar-links li {
  padding: 0;
}

.sidebar-links .sub-links a {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

#sidebar-home-link,
#sidebar-account-link {
  margin-bottom: 0.5rem;
}

.social-icons {
  display: grid;
  margin: 3rem 0;
  width: 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}

.close-btn:hover {
  color: #e66b6b;
} */

/*
========================= 
Search 
=========================
*/

.search {
  background: var(--clr-primary-10);
}

.search-center {
  min-height: calc(100vh - 15rem);
}

.search-title {
  margin-top: 2rem;
}

.search-form {
  display: grid;
  gap: 1rem 2rem;
  background: var(--clr-white);
  padding: 2.5rem 2rem;
  border-radius: var(--radius);
}

@media screen and (min-width: 768px) {
  .search {
    padding-top: 15rem;
    background: linear-gradient(var(--clr-gradient), rgba(0, 0, 0, 0.7)),
      url("../images/hero.jpg") center/cover no-repeat;
  }
  .search-form {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1.5rem;
  }

  .search-form input {
    margin-top: 1.5rem;
  }
}

/*
========================= 
About 
=========================
*/

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
  transition: var(--transition);
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 0;
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-center a {
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.about-center a:hover {
  color: var(--clr-primary-4);
}

.about-img {
  position: relative;
  justify-self: center;
}

.about-img figcaption {
  opacity: 0;
  background: linear-gradient(var(--clr-gradient), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
}

.about-img a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: var(--clr-white);
}

#about-video {
  max-width: 25rem;
  max-height: 30rem;
  border-radius: var(--radius);
  width: 90vw;
}

::cue {
  background: transparent;
  color: var(--clr-white);
  text-shadow: #000 0.5px 0.5px;
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }

  .about-img {
    position: relative;
  }

  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    top: 2rem;
    right: -2rem;
    left: -2rem;
    border-radius: var(--radius);
    z-index: -1;
  }

  .about-info {
    align-self: center;
  }

  .about-img:hover figcaption {
    opacity: 1;
  }
}

/*
========================= 
Popular Listings 
=========================
*/

.product-card {
  background: var(--clr-white);
  margin-bottom: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.product-card:hover {
  box-shadow: var(--dark-shadow);
  scale: 1.02;
}

.prev,
.next {
  display: none;
}

.product-img-container {
  position: relative;
}

.product-img-container .fa-heart {
  position: absolute;
  background: var(--clr-white);
  border-radius: 50%;
  right: 0;
  top: 0;
  color: var(--clr-grey-1);
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: var(--transition);
}

.product-img-container .fa-heart:hover {
  color: #bb2525;
}

.product-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}

.product-img-container figcaption {
  text-transform: capitalize;
  color: var(--clr-grey-1);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.product-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: capitalize;
  margin-left: 0.5rem;
  padding: 1.5rem 0 1rem 0;
  color: var(--clr-grey-1);
}

@media screen and (min-width: 676px) {
  .products-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .products-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
========================= 
Showcases 
=========================
*/

.showcases {
  padding-top: 0;
  padding-bottom: 3rem;
}

.showcases-title {
  margin-bottom: 2rem;
}

.news-card {
  margin-bottom: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.news-img-container {
  cursor: pointer;
}

.news figcaption {
  opacity: 0;
  background: linear-gradient(var(--clr-gradient), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  transition: var(--transition);
}

.news-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: var(--clr-white);
  cursor: pointer;
}

/* Bootstrap fix */
.news-link:hover {
  color: unset;
}

.news-card summary {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--clr-grey-1);
  font-size: 1rem;
  padding: 1rem 0 1rem 2rem;
}

.news-card iframe {
  width: 100%;
  height: 20rem;
  padding-bottom: 1rem;
}

.news-card p {
  padding: 0 1rem;
  text-align: justify;
}

.news-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.news-footer a {
  color: var(--clr-grey-1);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.news-footer a:hover {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 992px) {
  .news-img-container:hover figcaption {
    opacity: 1;
  }
}

/*
========================= 
Articles 
=========================
*/

.articles {
  padding-top: 0;
}

.articles-title {
  margin-bottom: 2rem;
}

.article-card {
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 2rem;
}

.article-img-container {
  cursor: pointer;
}

.article-card .product-img {
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.articles figcaption {
  opacity: 0;
  background: linear-gradient(var(--clr-gradient), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  transition: var(--transition);
}

.article-card .news-link {
  font-size: 1rem;
  color: var(--clr-grey-1);
  transform: none;
  top: 0%;
  left: 0;
  transform: translate(5%, 1060%);
}

.article-card summary {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--clr-grey-1);
  font-size: 1rem;
  padding: 1rem 0 1rem 2rem;
}

.article-card p {
  padding: 0 1rem 1rem 1rem;
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .article-card .news-link {
    font-size: 1.2rem;
    color: var(--clr-white);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .article-img-container:hover figcaption {
    opacity: 1;
  }
}

/*
========================= 
Presentations 
=========================
*/

.presentation {
  position: relative;
}

.presentation iframe {
  width: 100%;
  height: 20rem;
  border: 2px solid var(--clr-primary-5);
  border-radius: var(--radius);
}

.presentation-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding-top: 1rem;
}

.presentation-link {
  text-transform: capitalize;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.presentation-link:hover {
  color: var(--clr-primary-5);
}

/*
========================= 
News 
=========================
*/

@media screen and (min-width: 676px) {
  .news-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "a b"
      "c c";
    column-gap: 2rem;
  }

  #showcases {
    grid-area: a;
  }

  #articles {
    grid-area: b;
  }

  #presentations {
    grid-area: c;
  }
}

@media screen and (min-width: 992px) {
  .presentation iframe {
    height: 30rem;
  }
}

@media screen and (min-width: 1400px) {
  .presentation iframe {
    height: 35rem;
  }

  .presentation-links {
    position: absolute;
    right: 0;
    top: 0;
    grid-template-columns: none;
    row-gap: 1rem;
    transform: translateX(100%);
    place-items: start;
  }

  .presentation-link {
    padding: 0.5rem;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background: var(--clr-primary-5);
    transition: var(--transition);
    width: 6rem;
    margin-left: -0.1rem;
    text-align: center;
  }

  .presentation-link:hover {
    color: var(--clr-white);
    padding-left: 1rem;
    width: 6.5rem;
  }
}

/*
========================= 
Top Makes 
=========================
*/

.top-makes-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2rem;
  overflow: scroll;
}

.top-makes-center table {
  position: relative;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.top-makes-center table caption {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  transform: translate(0, 100%);
}

.top-makes-center table thead:hover th {
  opacity: 0.5;
}

.top-makes-center table th:hover {
  opacity: 1 !important;
}

.top-makes-center table tbody:hover td {
  opacity: 0.5;
}

.top-makes-center table td:hover {
  opacity: 1 !important;
}

.top-makes-center table th {
  padding: 0.3rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.top-makes-center table td {
  padding: 0.3rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.top-makes-center th:nth-child(even) {
  /* background: var(--clr-grey-1);
  color: var(--clr-white); */
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.top-makes-center th:nth-child(odd) {
  /* background: var(--clr-primary-5); */
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.top-makes-center td:nth-child(even) {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  transition: var(--transition);
}

.top-makes-center td:nth-child(odd) {
  background: var(--clr-primary-5);
  transition: var(--transition);
}

.top-makes-center table a {
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.top-makes-center table a:hover {
  color: var(--clr-primary-4);
}

.top-makes-center table tfoot td {
  background: var(--clr-white) !important;
  padding: 1.5rem 0;
  text-align: start;
}

.top-makes-center table tfoot td:hover {
  background: var(--clr-white) !important;
  cursor: text;
}

@media screen and (min-width: 676px) {
  .top-makes-center table {
    border-spacing: 0.8rem;
  }

  .top-makes-center table caption {
    left: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .top-makes-center {
    overflow: hidden;
  }

  .top-makes-center table {
    border-spacing: 1rem;
  }

  .top-makes-center table caption {
    left: 1rem;
  }
}

/*
========================= 
Footer 
=========================
*/

.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: start center;
  padding-top: 4rem;
}

.footer-link {
  text-transform: capitalize;
  color: var(--clr-grey-5);
  transition: var(--transition);
}

.footer-link:hover {
  color: var(--clr-grey-10);
}

.footer-links .sub-links {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  position: relative;
  padding: 0;
  background: none;
  box-shadow: none;
}

.footer-sub-links {
  text-align: start;
  margin-top: 1rem;
  color: var(--clr-grey-10);
  list-style-type: disc;
}

.footer-links li {
  padding-left: 0;
  margin-left: 1rem;
  text-align: start;
}

.footer-sub-links a {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  transition: var(--transition);
}

.footer-sub-links a:hover {
  color: var(--clr-grey-10);
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icon {
  color: var(--clr-primary-5);
}

.footer .social-icon:hover {
  color: var(--clr-primary-10) !important;
}

.contact {
  padding: 3rem 0 5rem 0;
}

.contact-title {
  color: var(--clr-grey-5);
  text-align: center;
  margin-bottom: 2rem;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.contact-info a {
  text-transform: capitalize;
  color: var(--clr-grey-5);
  font-size: 0.7rem;
  transition: var(--transition);
}

.contact-info a:hover {
  color: var(--clr-grey-10);
}

.footer small {
  color: var(--clr-grey-5);
  font-size: 0.8rem;
  text-transform: capitalize;
  text-align: justify;
  padding: 0 1.75rem;
}

@media screen and (min-width: 676px) {
  .footer-links {
    column-gap: 2rem;
  }

  .footer-link {
    font-size: 1rem;
  }

  .footer-sub-links a {
    font-size: 0.8rem;
  }

  .contact-info a {
    font-size: 0.8rem;
  }

  .footer small {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .footer-links {
    column-gap: 6rem;
  }

  .footer-link {
    font-size: 1.3rem;
  }

  .footer-sub-links a {
    font-size: 1rem;
  }

  .contact-info a {
    font-size: 1rem;
  }

  .footer .social-icon {
    font-size: 2rem;
  }

  .footer small {
    font-size: 1.25rem;
  }
}

/*
========================= 
Admin 
=========================
*/

.admin {
  display: none;
}

.admin ul {
  list-style-type: disc;
}

.admin li {
  padding: 0.2rem;
}

@keyframes card-fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 676px) {
  .admin-layout {
    display: grid;
    grid-template-areas:
      "search search"
      "about about"
      "top-makes products"
      "news news"
      "online-users statistics"
      "events server-info"
      "gallery gallery";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh 40rem auto 1fr auto auto auto;
  }

  .admin-layout .word-break {
    display: unset;
  }

  #search {
    grid-area: search;
  }

  #about {
    grid-area: about;
  }

  #events {
    grid-area: events;
  }

  #events .events-center {
    padding-left: 2rem;
  }

  #events .word-break {
    display: none;
  }

  #top-makes {
    grid-area: top-makes;
  }

  #top-makes .top-makes-admin-center {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: unset;
    margin-left: 2rem;
  }

  .top-makes-admin-center table {
    margin: 0;
  }

  #products {
    grid-area: products;
  }

  #products .products-admin-center {
    grid-template-columns: none;
    grid-template-rows: none;
    width: unset;
    position: relative;
  }

  .products-admin-center .product-card {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .products-admin-center .card-fade {
    animation-name: card-fade;
    animation-duration: 1.5s;
  }

  .products-admin-center .product-card:hover {
    scale: unset;
  }

  .products-admin-center .prev {
    display: inline;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 0.7rem;
    color: var(--clr-primary-5);
    font-weight: bold;
    font-size: 1.5rem;
    transition: var(--transition);
    user-select: none;
  }

  .products-admin-center .next {
    display: inline;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 0.7rem;
    color: var(--clr-primary-5);
    font-weight: bold;
    font-size: 1.5rem;
    transition: var(--transition);
    user-select: none;
  }

  .products-admin-center .prev {
    left: 0%;
  }

  .products-admin-center .next {
    right: 0%;
  }

  .products-admin-center .prev:hover,
  .next:hover {
    color: var(--clr-primary-4);
  }

  .products-admin-center .dots {
    text-align: center;
  }

  .products-admin-center .dot {
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 0.25rem;
    background: var(--clr-grey-7);
    border-radius: 50%;
    display: inline-block;
    transition: var(--transition);
  }

  .products-admin-center .active,
  .dot:hover {
    background: var(--clr-grey-4);
  }

  #news {
    grid-area: news;
  }

  #server-info {
    grid-area: server-info;
    background: var(--clr-white);
  }

  #server-info .server-info-center {
    padding-left: 2rem;
  }

  #server-info .word-break {
    display: none;
  }

  #online-users {
    grid-area: online-users;
  }

  #online-users .online-users-center {
    padding-left: 2rem;
  }

  #statistics {
    grid-area: statistics;
    background: var(--clr-grey-10);
  }

  #statistics .statistics-center {
    padding-left: 2rem;
  }

  #statistics .word-break {
    display: unset;
  }

  #gallery {
    grid-area: gallery;
    background: var(--clr-grey-10);
  }
}

@media screen and (min-width: 992px) {
  .admin-layout {
    grid-template-areas:
      "search search search"
      "about about about"
      "events top-makes products"
      "news news news"
      "server-info online-users statistics"
      "gallery gallery gallery";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh 30rem auto 1fr auto auto;
  }

  #events {
    background: var(--clr-grey-10);
  }

  #events .events-center {
    width: unset;
  }

  #events .word-break {
    display: unset;
  }

  #top-makes .top-makes-admin-center {
    margin-left: 0;
    padding-bottom: 4rem;
  }

  .top-makes-admin-center table caption {
    right: 1rem;
  }

  #server-info {
    background: var(--clr-grey-10);
  }

  #server-info .server-info-center {
    width: unset;
  }

  #server-info .word-break {
    display: unset;
  }

  #online-users .online-users-center {
    width: unset;
  }

  #statistics .statistics-center {
    width: unset;
  }

  #gallery {
    background: unset;
  }
}

@media screen and (min-width: 1400px) {
  #events .word-break {
    display: none;
  }

  #top-makes .top-makes-admin-center {
    padding-bottom: 2rem;
  }

  .top-makes-admin-center table caption {
    right: unset;
  }

  #products .word-break {
    display: none;
  }

  #server-info .word-break {
    display: none;
  }

  #online-users .word-break {
    display: none;
  }

  #statistics .word-break {
    display: none;
  }
}

/*
========================= 
Events 
=========================
*/

.events-center {
  width: 50vw;
  margin: 0 auto;
  max-width: 400px;
}

/*
========================= 
Online Users 
=========================
*/

.online-users-center {
  width: 50vw;
  margin: 0 auto;
  max-width: 400px;
}

/*
========================= 
Statistics
=========================
*/

.statistics-center {
  width: 50vw;
  margin: 0 auto;
  max-width: 400px;
}

/*
========================= 
Server Info
=========================
*/

.server-info-center {
  width: 50vw;
  margin: 0 auto;
  max-width: 400px;
}
